<phpunit bootstrap="vendor/autoload.php">
  <testsuites>
    <testsuite name="core">
      <directory>tests/*Test.php</directory>
    </testsuite>
  </testsuites>
  <php>
    <const name="CONFIG_PATH" value="tests/config/"/>
    <const name="SCRIPT_PATH" value="tests/scripts/"/>
    <const name="APP_PATH" value="tests/src/"/>
  </php>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">src/phackp</directory>
<!--      <exclude>
        <directory suffix=".php">src/phackp</directory>
      </exclude>-->
    </whitelist>
  </filter>
  <logging>
    <log type="coverage-clover" target="coverage.xml"/>
  </logging>
</phpunit>